/*************************/
/////// GENERAL VARS //////
/*************************/

//TODO vars

/*************************/
/////// CUSTOM VARS ///////
/*************************/

//TODO vars

/*************************/
///// TYPOGRAPHY VARS /////
/*************************/

//TODO vars

/*************************/
///// COMPONENT CODE //////
/*************************/
.interactive-svg-map {
    position: relative;
    height: auto;
    width: 400px;
    overflow: visible;
}

@include SmallDevice {
    .interactive-svg-map {
    }
}

@include MediumDevice {
    .interactive-svg-map {
    }
}

@include OnEmbedDevice() {
    .interactive-svg-map {
    }
}

/*************************/
/////// CUSTOM CODE ///////
/*************************/
//TODO code
.map-tooltip {
    position: absolute;

    &--shown {
        display: flex;
    }

    &--hidden {
        opacity: 0;
    }

    &--disabled {
        opacity: 0;
    }

    z-index: 9999;
    pointer-events: none;
    background-color: purple;

    &__text {
        font-size: 15px;
        color: white;
        padding: 0px;
    }
}

.cls-1 {
    fill: red;
}

.disabled-area {
    pointer-events: none;
}
