/*************************/
/////// GENERAL VARS //////
/*************************/

//TODO vars

/*************************/
/////// CUSTOM VARS ///////
/*************************/

//TODO vars

/*************************/
///// TYPOGRAPHY VARS /////
/*************************/

//TODO vars

/*************************/
///// COMPONENT CODE //////
/*************************/
.interactive-svg-map {
    position: relative;
    height: 100%;
    width: 300px;
}

@include SmallDevice {
    .interactive-svg-map {
    }
}

@include MediumDevice {
    .interactive-svg-map {
    }
}

@include OnEmbedDevice() {
    .interactive-svg-map {
    }
}

/*************************/
/////// CUSTOM CODE ///////
/*************************/
//TODO code
.map-tooltip {
    position: absolute;
    height: auto;
    width: auto;

    &--shown {
        display: flex;
    }

    z-index: 9999;
    pointer-events: none;
    background-color: red;
}

.cls-1 {
    fill: red;
}
